div#wall {
}
.row {
  display: block;
}
.brick {
  display: inline;
  font-size: 49;
  border: 0px solid white;
  padding: 1px 7px 1px 7px;
  background: #FFFFFF;
  font-family: "Courier New";
  font-weight: bold;
}
.brick:hover {
  background: #000000;
  cursor: help;
}
